@model eClock.Web.Models.WorkItemFinderViewModel

<div class="form-horizontal">
    @Html.ValidationSummary(true)

    <div class="work-item-filters">
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProjectId, new SelectList(Model.Projects, "Id", "Name", Model.ProjectId), new { @class = Model.ProjectFilterRequired ? "" : "disabled" })
                @Html.ValidationMessageFor(model => model.ProjectId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Employees, new SelectList(Model.Employees, "Id", "FullName", Model.EmployeeId), new { @class = Model.EmployeeFilterRequired ? "" : "disabled" })
                @Html.ValidationMessageFor(model => model.EmployeeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.State, new SelectList(Enum.GetValues(typeof(eClock.Web.Models.WorkItemFinderViewModel))))
                @Html.ValidationMessageFor(model => model.State)
            </div>
        </div>

        
    </div>
</div>
